## server
server_port = 4001

## database
database_name = "db_name"
database_user = "root"
database_pass = ""
database_host = "localhost"
database_port = "3306"


## telegram
telegram_app_id =
telegram_app_hash = ""
telegram_phone = ""
database_encryption_key = ""
tdlib_directory = ""

## config
download_timeout = 30

## bot_api_key
bot_api_key = ""
bot_chat_id = ""