python-dotenv==1.0.0
sqlalchemy==1.4.49
schedule==1.2.0
mysql-connector-python==8.1.0
pytgbot==4.9.1
Flask==2.3.2
apscheduler==3.10.3
pandas==1.5.3
convertdate==2.4.0
git+https://github.com/Ilia-Abolhasani/python-telegram